<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>

    <script>
        function createCellElementFromString(cellString) {
            const cellElement = document.createElement('td')
            cellElement.textContent = cellString

            return cellElement
        }

        function createCellElementFromNode(node) {
            const cellElement = document.createElement('td')
            cellElement.appendChild(node)

            return cellElement
        }

        function createLinkElementForUpdate(href, buttonType, buttonValue) {
            const linkElement = document.createElement('a')

            linkElement.href = href

            const buttonElement = createButton(buttonType, buttonValue)

            linkElement.appendChild(buttonElement)

            return linkElement
        }

        function createButton(buttonType, buttonValue) {
            const buttonElement = document.createElement('button')
            buttonElement.type = buttonType
            buttonElement.innerText = buttonValue

            return buttonElement
        }

        function createButtonForDeleteElement(bookId, orderNumber) {
            const formElement = document.createElement('form')

            const deleteFunction = "deleteComment('" + bookId + "', " + orderNumber + " )"

            formElement.setAttribute("onclick", deleteFunction);

            const divElement = document.createElement('div')
            divElement.appendChild(
                createButton('button', 'Delete')
            )

            formElement.appendChild(divElement)

            return formElement

        }

        function deleteComment(bookId, orderNumber) {
            const baseUri = getBaseUri()

            fetch(baseUri + 'api/v1/books/' + bookId + '/comments/' + orderNumber, {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
                .then(() => fetchCommentsTableData(document.getElementsByClassName('comments-body').item(0), bookId))

        }

        function fillAuthors(authors) {
            const authorsArray = []

            for (let author of authors) {
                authorsArray.push(author.name)
            }
            return authorsArray
        }

        function fillGenres(genres) {
            const genresArray = []

            for (let genre of genres) {
                genresArray.push(genre.name)
            }
            return genresArray
        }

        function createParagraphWithSpan(string) {
            const paragraphElement = document.createElement('p')
            const spanElement = document.createElement('span')

            spanElement.textContent = string
            paragraphElement.appendChild(spanElement)

            return paragraphElement
        }

        function appendChildren(rootNode, childrenNodesArray) {
            for (const childNode of childrenNodesArray) {
                rootNode.appendChild(childNode)
            }
        }

        function getBaseUri() {
            const splitBaseUriArray = document.baseURI.split('/')

            return splitBaseUriArray[0] + '//' + splitBaseUriArray[2] + '/'
        }

        function fetchBookData(bookId) {
            const currentBook = document.getElementById("current-book")

            currentBook.innerHTML = ""

            const baseUri = getBaseUri()

            fetch(baseUri + "api/v1/books/" + bookId)
                .then(rawResponse => rawResponse.json())
                .then(book => {
                    const authors = fillAuthors(book.authors)
                    const genres = fillGenres(book.genres)

                    const titleParagraphElement = createParagraphWithSpan('Title: ' + book.title)
                    const authorsParagraphElement = createParagraphWithSpan('Authors: ' + authors.join(';'))
                    const genresParagraphElement = createParagraphWithSpan('Genres: ' + genres.join(';'))

                    appendChildren(
                        currentBook,
                        [titleParagraphElement, authorsParagraphElement, genresParagraphElement]
                    )
                })

        }

        function updateBook(bookId) {
            const bookTitle = document.getElementById("book-title-input").value
            const bookAuthors = document.getElementById("book-authors-input").value
            const bookGenres = document.getElementById("book-genres-input").value

            const authorsArray = bookAuthors.split(";")
            const genresArray = bookGenres.split(";")

            const jsonAuthorsArray = []

            for (const element of authorsArray) {
                let jsonElement = {
                    name: element
                }

                jsonAuthorsArray.push(jsonElement)
            }

            const jsonGenresArray = []

            for (const element of genresArray) {
                let jsonElement = {
                    name: element
                }

                jsonGenresArray.push(jsonElement)
            }

            const book = {
                id: bookId,
                title: bookTitle,
                authors: jsonAuthorsArray,
                genres: jsonGenresArray
            }

            const baseUri = getBaseUri()

            fetch(baseUri + "api/v1/books/", {
                method: 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)
            })
                .then(rawResponse => rawResponse.json())
                .then(() => {
                    fetchBookData(bookId)
                })
        }

        function fetchCommentsTableData(tableBody, bookId) {
            const baseUri = getBaseUri()

            fetch(baseUri + 'api/v1/books/' + bookId + '/comments')
                .then(response => response.json())
                .then(rows => {
                    tableBody.innerHTML = ''

                    for (const row of rows) {
                        const rowElement = document.createElement('tr')

                        const content = row.content
                        const time = row.time
                        const orderNumber = row.orderNumber

                        rowElement.appendChild(
                            createCellElementFromString(orderNumber)
                        )
                        rowElement.appendChild(
                            createCellElementFromString(content)
                        )
                        rowElement.appendChild(
                            createCellElementFromString(time)
                        )

                        rowElement.appendChild(
                            createCellElementFromNode(
                                createLinkElementForUpdate(
                                    baseUri + 'books/' + bookId + '/comments/' + orderNumber,
                                    'button',
                                    'Info/Edit'
                                )
                            )
                        )

                        rowElement.appendChild(
                            createCellElementFromNode(
                                createButtonForDeleteElement(bookId, orderNumber)
                            )
                        )

                        tableBody.appendChild(rowElement)
                    }

                })
        }

        function saveComment(bookId) {
            const content = document.getElementById("comment-input").value

            const baseUri = getBaseUri()

            fetch(baseUri + 'api/v1/books/' + bookId + '/comments', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(content)
            })
                .then(rawResponse => rawResponse.json())
                .then(() => {
                    fetchCommentsTableData(document.getElementsByClassName('comments-body').item(0), bookId)
                })
        }

    </script>
</head>
<body>

<a href="bookList.html" th:href="@{/}">
    <button type="button">Back to book list</button>
</a>

<h3>Current book data:</h3>
<div id="current-book">
</div>

<script th:inline="javascript">
    const bookId = /*[[${bookId}]]*/
        fetchBookData(bookId)
</script>

<h3>Update book:</h3>
<form>
    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="title"/>
    </div>

    <div class="row">
        <label for="book-authors-input">Authors (split different authors using ";" symbol):</label>
        <input id="book-authors-input" name="authors" type="text" value="author1;author2"/>
    </div>

    <div class="row">
        <label for="book-genres-input">Genres (split different genres using ";" symbol):</label>
        <input id="book-genres-input" name="genres" type="text" value="genre1;genre2"/>
    </div>

    <div class="row">
        <button type="button" th:attr="onclick=|updateBook('${bookId}')|">Save</button>
    </div>
</form>

<h3>Book comments:</h3>
<table class="books">
    <thead>
    <tr>
        <th>Order number</th>
        <th>Content</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody class="comments-body">
    </tbody>
</table>

<h3>Insert new comment:</h3>

<form>
    <div class="row">
        <label for="comment-input">enter comment:</label>
        <input id="comment-input" name="content" type="text"/>
    </div>

    <div class="row">
        <button type="button" th:attr="onclick=|saveComment('${bookId}')|">Save</button>
    </div>
</form>

<script th:inline="javascript">
    fetchCommentsTableData(document.getElementsByClassName('comments-body').item(0), bookId)
</script>

</body>
</html>

