<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>

    <script>
        function fillAuthors(authors) {
            const authorsArray = []

            for (let author of authors) {
                authorsArray.push(author.name)
            }
            return authorsArray
        }

        function fillGenres(genres) {
            const genresArray = []

            for (let genre of genres) {
                genresArray.push(genre.name)
            }
            return genresArray
        }

        function createParagraphWithSpan(string) {
            const paragraphElement = document.createElement('p')
            const spanElement = document.createElement('span')

            spanElement.textContent = string
            paragraphElement.appendChild(spanElement)

            return paragraphElement
        }

        function appendChildren(rootNode, childrenNodesArray) {
            for (const childNode of childrenNodesArray) {
                rootNode.appendChild(childNode)
            }
        }

        function getBaseUri() {
            const splitBaseUriArray = document.baseURI.split('/')

            return splitBaseUriArray[0] + '//' + splitBaseUriArray[2] + '/'
        }

        function fetchBookData(bookId) {
            const currentBook = document.getElementById("current-book")

            currentBook.innerHTML = ""

            const baseUri = getBaseUri()

            fetch(baseUri + "api/v1/books/" + bookId)
                .then(rawResponse => rawResponse.json())
                .then(book => {
                    const authors = fillAuthors(book.authors)
                    const genres = fillGenres(book.genres)

                    const titleParagraphElement = createParagraphWithSpan('Title: ' + book.title)
                    const authorsParagraphElement = createParagraphWithSpan('Authors: ' + authors.join(';'))
                    const genresParagraphElement = createParagraphWithSpan('Genres: ' + genres.join(';'))

                    appendChildren(
                        currentBook,
                        [titleParagraphElement, authorsParagraphElement, genresParagraphElement]
                    )
                })

        }

        function updateBook(bookId) {
            const bookTitle = document.getElementById("book-title-input").value
            const bookAuthors = document.getElementById("book-authors-input").value
            const bookGenres = document.getElementById("book-genres-input").value

            const authorsArray = bookAuthors.split(";")
            const genresArray = bookGenres.split(";")

            const jsonAuthorsArray = []

            for (const element of authorsArray) {
                let jsonElement = {
                    name: element
                }

                jsonAuthorsArray.push(jsonElement)
            }

            const jsonGenresArray = []

            for (const element of genresArray) {
                let jsonElement = {
                    name: element
                }

                jsonGenresArray.push(jsonElement)
            }

            const book = {
                id: bookId,
                title: bookTitle,
                authors: jsonAuthorsArray,
                genres: jsonGenresArray
            }

            const baseUri = getBaseUri()

            fetch(baseUri + "api/v1/books/", {
                method: 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)
            })
                .then(rawResponse => rawResponse.json())
                .then(() => {
                    fetchBookData(bookId)
                })
        }

    </script>
</head>
<body>

<a href="bookList.html" th:href="@{/admin/books}">
    <button type="button">Back to book list</button>
</a>

<h3>Current book data:</h3>
<div id="current-book">
</div>

<script th:inline="javascript">
    const bookId = /*[[${bookId}]]*/
        fetchBookData(bookId)
</script>

<h3>Update book:</h3>
<form>
    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="title"/>
    </div>

    <div class="row">
        <label for="book-authors-input">Authors (split different authors using ";" symbol):</label>
        <input id="book-authors-input" name="authors" type="text" value="author1;author2"/>
    </div>

    <div class="row">
        <label for="book-genres-input">Genres (split different genres using ";" symbol):</label>
        <input id="book-genres-input" name="genres" type="text" value="genre1;genre2"/>
    </div>

    <div class="row">
        <button type="button" th:attr="onclick=|updateBook('${bookId}')|">Save</button>
    </div>
</form>


</body>
</html>

